body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/035/819/original/3548176.jpg?1653946563);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.App {
  text-align: center;
  margin-top: 10%;
}
.container {
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 30px 30px 60px #cccccc, -30px -30px 60px #ffffff;
  padding: 1%;
}

@media screen and (max-width: 930px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 90%;
  }
}
  
.App h1 {
  margin: 1%;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 4rem;
}

.App footer {
  font-size: 0.8rem;
  margin-bottom: 20px;
  color: rgb(8, 8, 8);
  align-items: center;
}

.App a {
  color: rgb(28, 31, 30);
}
