.Meanings h3 {
    font-style: bold;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color:#656363;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  
  .Meanings .example {
    font-style: italic;
    color: #656363;
    opacity: 0.7;
    font-size: 14px;
  }
  
  .Meanings section {
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .Meanings .definition{
    color: rgb(40, 37, 37);
  }