.Phonetics .phonetics {
    margin-bottom: 20px;
    color: #656363;
  }

  .audio{
   width: 100%;
   height: auto;
   background-color: #656363;
   border-radius: 5%; 
   box-shadow:  3px 3px 6px #cccccc,
                -3px -3px 6px #ffffff;
   
  }