.Phonetics,
.phonetics {
  color: #656363;
  text-decoration: underline #cccccc;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.Phonetics {
  display: flex;
  flex-direction: row;
  margin: 2% auto;
}
.phonetics {
  width: 50%;
}
.audio {
  width: 50%;
  border-radius: 2%;
}
